<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szb.Mapper.CategoryMapper">
    <select id="categoryList" resultType="com.szb.Pojo.Category">
        select *
        from category;
    </select>

    <select id="selectCategoryById" resultType="com.szb.Pojo.Category">
        select *
        from category
        where category.id= #{id}
    </select>
    <insert id="insertCategory" parameterType="com.szb.Pojo.Category">
        insert into category(id,name,remark) values (#{id},#{name},#{remark})
    </insert>
    <delete id="deleteCategoryById" parameterType="Integer">
        delete from category where id = #{id};
    </delete>
    <update id="updateCategoryById" parameterType="com.szb.Pojo.Category">
        update category set id = #{id}, name = #{name}, remark = #{remark} where id = #{id}
    </update>
</mapper>